{% extends 'main/base.html' %}

{% block title %}About us{% endblock %}
{% block content %}
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic ">Do you want to go to the University of your dreams?</h1>
            </div>
            <p class="lead my-3">If you are looking for a University, then you are on the right track. Our site is a new and very convenient directory of higher education institutions, which has all the necessary information for applicants. All information is conveniently grouped for you by the form of training (full-time, part-time, part-time, distance
) and by location (location of the educational institution or courses). To successfully choose a higher education institution, you need to go through just three simple steps:
            <p>1. Choose the form of study and specialty (for convenience, there are lists for each item).</p>
            <p>2. Determine the location of the University.</p>
            <p>3. enter your UNT scores in the required subjects.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">I hope you find what you're looking for.</a></p>

          </div>

        <div class = "row">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">4.3</strong>
                        <h3 class="mb-0">IITU</h3>
                            <div class="mb-1 text-muted">Since 2009</div>
                        <p class="card-text mb-auto">The international University of information technologies is a leading higher education institution in the Central Asian region in the field of training qualified, internationally recognized IT specialists.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">4.2</strong>
                  <h3 class="mb-0">UIB</h3>
                  <div class="mb-1 text-muted">Since 1992</div>
                  <p class="mb-auto">Specialized humanitarian and economic University in Almaty, which trains specialists in management and marketing, Finance and accounting, Economics and international relations, ecology and tourism.</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
              </div>
            </div>
        </div>

{% endblock %}
